/* About.css */

.about-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  .about-title {
    font-size: 36px;
    font-weight: bold;
    color: #e91e63; /* Pink color for title */
    margin: 20px 0;
  }
  
  .about-text {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark text color */
    margin: 20px 0;
  }
  
  .about-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  