/* PokeInfo.css */

.pokemon-display-container {
  background-color: rgba(240, 240, 240, 0);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px;
}

.flavor-text {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-id-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-id-text {
  font-size: 20px;
  font-weight: bold;
  color: #e91e63; /* Pink for ID */
}

.pokemon-name-text {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  color: #333; /* Dark text color */
  text-align: center;
  margin: 10px 0;
}

.weight-height {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.weight-text,
.height-text {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin: 0 10px;
}

.pokemon-gallery {
  text-align: center;
}

.gallery-heading {
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 20px 0;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border: 2px solid #e91e63; /* Pink border */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.additional-info {
  margin-top: 20px;
}

.info-section {
  background-color: rgba(240, 240, 240, 0); /* Light gray background */
  padding: 16px;
  border-radius: 10px;
  margin: 10px;
}

.info-heading {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.info-text {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin: 10px 0;
}
